<style type="text/css">
<!--
pre { white-space: pre-wrap; font-family: monospace; color: #000000; background-color: #ffffff; }
body { font-family: monospace; color: #000000; background-color: #ffffff; }
* { font-size: 1em; }
.Comment { color: #c00000; }
.Constant { color: #0000c0; }
.Special { color: #c000c0; }
.Identifier { color: #804000; }
.Statement { color: #008080; }
.PreProc { color: #c000c0; }
.Type { color: #008000; }
-->
</style>
